services:
  haproxy:
    container_name: gioc-haproxy
    image: haproxytech/haproxy-alpine:2.7
    ports:
      - 80:80
      - 443:443
      - 8404:8404
    volumes:
      - ./data/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./data/ssl:/etc/ssl/guacamole
    depends_on:
      guacamole:
        condition: service_started
  guacamole:
    container_name: gioc-guacamole
    image: guacamole/guacamole:${GM_VERSION:-1.4.0}
    environment:
      GUACAMOLE_HOME: /opt/guacamole
      WEBAPP_CONTEXT: ROOT
      GUACD_HOSTNAME: guacd
      MYSQL_DATABASE: ${GM_DB:-guacamole_db}
      MYSQL_HOSTNAME: db
      MYSQL_PASSWORD: ${GM_DB_PASS:-dontDoThisOnProduction}
      MYSQL_USER: ${GM_DB_USER:-guacamole_user}
      MYSQL_AUTO_CREATE_ACCOUNTS: true
    depends_on:
      guacd:
        condition: service_started
    volumes:
      - ./data/extensions:/opt/guacamole/extensions
  guacd:
    container_name: gioc-guacd
    image: guacamole/guacd:${GM_VERSION:-1.4.0}
    depends_on:
      deploy:
        condition: service_completed_successfully
      db:
        condition: service_healthy
  db:
    container_name: gioc-db
    image: mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: ${GM_DB:-guacamole_db}
      MYSQL_USER: ${GM_DB_USER:-guacamole_user}
      MYSQL_PASSWORD: ${GM_DB_PASS:-dontDoThisOnProduction}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 15
    depends_on:
      deploy:
        condition: service_completed_successfully
    volumes:
      - ./data/db:/var/lib/mysql
      - ./data/schema.sql:/docker-entrypoint-initdb.d/schema.sql
  deploy:
    container_name: gioc-deploy
    build: .
    env_file:
      - .env
    volumes:
      - ./data:/data
